{% extends "base.html" %}
{% load static %}

{% block title %}
Favorite recipes - Easy Meals
{% endblock %}

{% block main %}
<div class="album py-5 bg-light">
    <div class="container">

        <div  data-id="active-favorite-title">
            <div class="d-flex justify-content-center align-items-center"><p class="navbar-brand">FAVORITE RECIPES</p></div>
        </div>

        {% if not favorite_recipes %}
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img alt="..." class="img-fluid" src="/static/recipes/images/gif/confused_travolta.gif">
            <h5 class="mt-4">Nothing to see here, <a class="discover-link" href="{% url 'recipes:choose' %}">discover new recipes</a>.</h5>
        </div>
        {% endif %}

        <!--Individual recipe cards-->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-3">
            {% for recipe in favorite_recipes %}
            <div class="col" data-id="col_{{ recipe.recipe.recipe_id }}">
                {% if recipe.recipe.recipe_id in active_recipes %}
                <div class="card shadow-sm h-100 border border-2 border-success"
                     data-id="card_{{ recipe.recipe.recipe_id }}">
                    {% else %}
                    <div class="card shadow-sm h-100" data-id="card_{{ recipe.recipe.recipe_id }}">
                        {% endif %}
                        <!--Favorite star-->
                        <svg class="bi bi-star-fill position-absolute top-0 end-0"
                             data-id="favorite_star_{{ recipe.recipe_id }}" fill="rgba(20,128,0,255)"
                             height="35" stroke="white" viewBox="0 0 16 16" width="35"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <!--Recipe image-->
                        <a href="{% url 'recipes:recipe' recipe.recipe_id %}">
                            <img alt="{{ recipe.recipe.title }} {{ recipe.recipe.subtitle }}"
                                 class="card-img-top"
                                 src="/static/recipes/images/recipe-images-800w/{{ recipe.recipe.recipe_id_hash }}.jpg">
                        </a>
                        <!--Block under image for title, actions and short description-->
                        <div class="card-body d-flex flex-column justify-content-between">
                            <!--Recipe title-->
                            <a class="mb-3" href="{% url 'recipes:recipe' recipe.recipe_id %}">
                                <p class="card-title" data-id="grid-card-title">{{ recipe.recipe.title }} </p>
                                <p class="card-subtitle" data-id="grid-card-subtitle">{{ recipe.recipe.subtitle }}</p>
                            </a>
                            <!--Two buttons and prep time-->
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-toolbar">
                                    <!--Active recipes buttons-->
                                    {% if recipe.recipe_id in active_recipes %}
                                    <div data-id="div_add_to_active_{{ recipe.recipe_id }}" style="display:none">
                                        <button class="btn btn-sm btn-outline-success me-1" data-id="add_to_active"
                                                data-page-type="favorites" data-recipe-id="{{ recipe.recipe_id }}">+
                                            active
                                        </button>
                                    </div>
                                    <div data-id="div_remove_from_active_{{ recipe.recipe_id }}">
                                        <button class="btn btn-sm btn-outline-danger me-1" data-id="remove_from_active"
                                                data-page-type="favorites" data-recipe-id="{{ recipe.recipe_id }}">-
                                            active
                                        </button>
                                    </div>
                                    {% else %}
                                    <div data-id="div_add_to_active_{{ recipe.recipe_id }}">
                                        <button class="btn btn-sm btn-outline-success me-1" data-id="add_to_active"
                                                data-page-type="favorites" data-recipe-id="{{ recipe.recipe_id }}">+
                                            active
                                        </button>
                                    </div>
                                    <div data-id="div_remove_from_active_{{ recipe.recipe_id }}" style="display:none">
                                        <button class="btn btn-sm btn-outline-danger me-1" data-id="remove_from_active"
                                                data-page-type="favorites" data-recipe-id="{{ recipe.recipe_id }}">-
                                            active
                                        </button>
                                    </div>
                                    {% endif %}
                                    <!--Favorite recipes buttons-->
                                    <div data-id="div_remove_from_favorites_{{ recipe.recipe_id }}">
                                        <button class="btn btn-sm btn-outline-danger me-1"
                                                data-id="remove_from_favorites" data-page-type="favorites"
                                                data-recipe-id="{{ recipe.recipe_id }}">- favorites
                                        </button>
                                    </div>
                                </div>
                                <!--Preparation time-->
                                <small class="text-muted">{{ recipe.recipe.time_total }} min</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>
    {% endblock %}


{% block script %}
<script src="/static/recipes/scripts/add-remove-buttons.js"></script>
{% endblock %}
